/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: var(--bg-header);
  --webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
  height: var(--header-height);
  padding: 1.0rem 0;
}

.header .brand {
  display: inline-flex;
  align-items: center;
  color: var(--text-primary);
  padding: 0px 15px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}